*{
    margin:0;
    padding:0;
}

body{
    height:100vh;
}

.container{
    height:60vh;
    width: 30vw;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    perspective: 1000px;
}

.box{
    height:250px;
    width: 250px;
    position: absolute;
    top:100px;
    left: 100px;
    //transform: rotate(-90deg);
    transform-style: preserve-3d;
    transform: rotateY(30deg);
    animation: animate 5s infinite;
}

@keyframes animate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }    
}

.card{
    height: 250px;
    width:250px;
    text-align: center;
    padding: 100px 0px;
    color: black;
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: 32px;
    border: 2px solid red;
    position: absolute;
    transition: all 1s;
}

#left{
    right:125px;
    transform: rotateY(-90deg);
}
#right{
    left:125px;
    transform: rotateY(90deg);
}
#bottom{
    top:125px;
    transform: rotateX(-90deg);
}
#top{
    bottom:125px;
    transform: rotateX(90deg);
}
#front{
    transform: translateZ(125px);
}
#back{
    transform: translateZ(-125px);
}

.btn{
    color: black;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top:200px;    
    right:200px;
    transition: all 0.5s;
}
.btn:hover{
    color: black;
    background-color: white;
    padding: 10px;
    text-shadow: 0px 0px 5px dodgerblue;
}

.btn:focus~ .box #front{
    transform: translateZ(160px) rotateY(360deg);
}
.btn:focus~ .box #back{
    transform: translateZ(-160px) rotateY(360deg);
}
.btn:focus~ .box #top{
    bottom:160px;
    transform: rotateX(90deg) rotateY(360deg);
}
.btn:focus~ .box #bottom{   
    top:160px;
    transform: rotateX(-90deg) rotateY(360deg);
}
.btn:focus~ .box #left{
    right: 160px;
    transform: rotateY(-90deg) rotateZ(360deg);
}
.btn:focus~ .box #right{
    left: 160px;
    transform: rotateY(90deg) rotateZ(360deg);
}
